*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f2e3e;
    padding: 15px 40px;
    color: white;
    height: 100px;
}
.logo {
    font-size: 30px;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight:500 ;
}

nav a:hover{
    color: #f6b93b;
}

h1.admin{
    text-align: center;
    font-size: 60px;
    padding: 100px 0 250px 0;
}

.chat-container{
    max-width: 600px;
    margin: 0 auto;
    background: white;
    border: 3px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.chat-item{
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.chat-item:hover{
    background-color: #f5f5f5;
}

.persona img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    background-color: #ccc;
}
.chat-info{
    flex: 1;
}

.chat-header{
    
    justify-content: space-between;
    margin-bottom: 5px;
}
.chat-header h3{
    font-size: 16px;
    color: #333;
}

.chat-info .time{
    font-size: 12px;
    color: #888;
}

.chat-item p {
    font-size: 14px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

.chat-mensajes{
    max-width: 600px;
    margin: 0 auto;
    background: white;
    border: 3px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

